* {
	margin: 0 0 0 0;
	font-family: "Verdana", Arial, serif;
	padding: 0 0 0 0;
}

li {
	margin-left:10px;
}

a {
	color: #444;
	text-decoration:none;
	font-weight:bold;
}

a:hover {
	color: #bbb;
}

body {
	background-color:#205867;
	color:white;
}

form {
	font-size: 18px;
	border: 1px solid #666;
	margin: 2px 2px 2px 2px;
	padding: 4px 4px 4px 4px;
	line-height: 2em;
}

input[type=submit], input[type=button] {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	color: #ffffff;
	font-size: 14px;
	font-weight:bold;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	text-transform: uppercase;
}

input[type=submit]:hover, input[type=button]:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

Input[Type=text], Input[Type=password], Input[Type=date], select, option {
	width: 200px;
	height: 25px;
	border: solid 2px #00E3E3;
	padding: 2px;
	border-radius: 5px;
	font-size: 12px;
	box-shadow: 0px 1px 2px 0px #9C9C9C;
	background-color: #FFFFFF;
	outline: none;
	color: #474747;
}

#destructive {
	float:right;
	background: #d93434;
	background-image: -webkit-linear-gradient(top, #d93434, #360405);
	background-image: -moz-linear-gradient(top, #d93434, #360405);
	background-image: -ms-linear-gradient(top, #d93434, #360405);
	background-image: -o-linear-gradient(top, #d93434, #360405);
	background-image: linear-gradient(to bottom, #d93434, #360405);  
}

#destructive:hover {
	background: #000000;
	background-image: -webkit-linear-gradient(top, #000000, #0d0d0d);
	background-image: -moz-linear-gradient(top, #000000, #0d0d0d);
	background-image: -ms-linear-gradient(top, #000000, #0d0d0d);
	background-image: -o-linear-gradient(top, #000000, #0d0d0d);
	background-image: linear-gradient(to bottom, #000000, #0d0d0d);
	text-decoration: none;
}

Input[Type=text]:hover, Input[Type=text]:active, Input[Type=text]:focus, select:hover, option:hover,
		Input[Type=password]:hover, Input[Type=password]:active, Input[Type=password]:focus {
	border: 2px solid #FF00D5;
}

label {
	display: inline-block;
	width:130px;
}

#container {
	margin-left:auto;
	margin-right:auto;
	width:1024px;
	box-shadow: 3px 3px 3px #111111;
	background-color: #fff;
}

#logo {
	width:150px;
	font-size:34px;
	font-weight:bold;
	margin-left:20px;
	margin-top:10px;
	float:left;
	color: #fff;
}

#banner {
	width:1024px;
	height:50px;
	background-color: #fff;
}

#menu {
	text-align:center;
	list-style-type: none;
	float:left;
	list-style-position: none;
	margin-left:50px;
}

#types {
	text-align:center;
	font-size:18px;
	padding-top: 10px;
	border: 1px solid black;
	line-height:1em;
}

#menu li {
	margin-left:0px;
	margin-right:0px;
	font-size:23px;
	line-height:1em;
	margin: 0px 0px 0px 0px;
	display: inline-block;
	height:25px;
	padding-top:10px;
	color: #fff;
	font-weight:bolder;
	text-shadow: 1px 1px #000;
}

#menu a {
	width:150px;
	height:45px;
	margin: 0 0 0 0;
	display: inline-block;
}

#menu a:hover {
	background:#ddd;

}

#menuItem1  {
	background-color: #ffb33a;
}

#menuItem2  {
	background-color: #5cc043;
}

#menuItem3  {
	background-color: #ff0067;
}

#menuItem4  {
	background-color: #864398;
}

#menuItem5  {
	background-color: #00a4d8;
}

#user {
	color: #000;
	font-weight:bolder;
	float:right;
	margin-top:15px;
	margin-right:15px;
	margin-bottom:15px;
}

#back {
	float:left;
	margin-top:10px;
	margin-bottom:15px;
	margin-left:10px;
}

#single {
	width:1000px;
	padding: 10px 10px 10px 10px;
}

#side {
	border-right:1px solid black;
	padding:20px 20px 20px 20px;
	margin-top:30px;
	width:300px;
	float:left;
}

#message {
	width:600px;
	font-weight:bold;
	padding:10px 10px 10px 10px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size: 22px;
	color: #fff;
	background-color: green;
	font-weight:bold;
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
}

#error {
	font-size: 22px;
	font-weight:bold;
	width:600px;
	padding:10px 10px 10px 10px;
	margin-left:auto;
	margin-right:auto;
	color: #fff;
	text-align:center;
	background-color:#990000;
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	line-height:2em;
}

#error ul{
	list-style-type: none;
}

h1 {
	font-weight:bold;
	font-size:30px;
	color:#000;
	margin-bottom:40px;
}

h2 {
	margin-top: 20px;
	margin-bottom: 20px;
}

#main {
	margin-left:10px;
	margin-top:30px;
	padding:20px 20px 20px 20px;
	float:left;
	width:570px;
}

#content {
	background-color:#fff;
	padding:10px 10px 10px 10px;
	color: #000;
	line-height:1.2em;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	background-color:#000;
	font-weight:bold;
	color: #fff;
}

th, td {
	padding: 5px;
	text-align: left;
}

table {
	width: 100%;
	margin-bottom:40px;
}

.kit {
	line-height:1.4em;
	border: 1px solid #000;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	display: inline-block;
	width:440px;
	height:400px;
	vertical-align:top;
}

.kitTitle {
	background-color: #aaaaff;
	height:1em;
	padding: 10px 5px 10px 5px;
}

.kitInfo {
	height: 330px;
	display: block;
	overflow: scroll;
}

.kitNote {
	font-weight:bold;
	background-color:#ff3333;
	padding:10px 0px 10px 0px;
	width:100%;
	text-align:center;
}

.itemNote {
	font-weight:bold;
	background-color:#ff3333;
}

.kitControl {
	margin-top:5px;
}

.kit ul {
	margin-left:20px;
	width:400px;
	background-color: #fff;
	display: block;
}

p {
	margin: 0.5em 0 0.5em 0;
}

table tr[onclick] {
	cursor: pointer;
}

table tr[onclick]:hover {
	color: #bbb;
}
